/* .hamburg_btn {
    background: transparent;
    border: 0;
}
.hamburg_btn::after {
    display: none;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
} */
.navbar {
  background-color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid darkseagreen;
}
.right_side_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu-bars {
  margin-left: 2rem;
  font-size: 1.2rem;
  background: none;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

.nav-menu {
  background-color: #fff;
  /* background-color: #210404; */
  width: 290px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 999;
}

.nav-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 8px 1px;
  list-style: none;
  height: 50px;
}

.nav-text a {
  text-decoration: none;
  color: #210404;
  /* color: #f5f5f5; */
  font-size: 16px;
  font-weight: 600;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}
.nav-menu-items {
  width: 100%;
  padding-left: 0;
}

.navbar-toggle {
  background-color: #fff;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side_canvas_logo {
  width: 100px;
  margin-left: 2rem;
}
span {
  margin-left: 16px;
}
.link_deco {
  text-decoration: none;
}
.commonheader_btn {
  width: 120px;
  border: 1px solid #1eb560;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  color: #1eb560;
  font-size: 14px;
  margin-right: 0.7rem;
  border-radius: 5px;
}
.baricon_color {
  color: #210404 !important;
}
.signUp_clrd {
  color: #1eb560;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
  margin-left: 0.7rem;
  margin-right: 2.8rem;
}
.log_plain {
  margin-right: 0.2rem;
  color: #210404;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}
.logo_div {
  margin-right: 15rem;
}
.logo_div img {
  width: 100px;
}
.nav_login_btn {
  width: 130px;
  border: 0;
  border: 1px solid #1eb560;
  color: #1eb560;
  background-color: #fff;
  padding: 10px 10px;
  border-radius: 4px;
  font-weight: 600;
}
.nav_signup_btn {
  width: 130px;
  border: 0;
  background-color: #1eb560;
  color: #fff;
  padding: 10px 10px;
  border-radius: 4px;
  font-weight: 600;
}
#dropdown-basic-button,#dropdown-basic-button:hover,#dropdown-basic-button:focus,#dropdown-basic-button:active{
  background: transparent;
    color: #000;;
    border: 0;
}
.list-group-item {
  border: 0;
}
.submenu{
  padding-left: 20px;
  margin-top: 5px;
}
.list-group-item.active{
border: 0;
background: #757575;
}
.link_remove_underline{
  text-decoration: none;
}