.overlay_img {
  background-image: url("../../../public/images/top_bg_img.png");
  height: 75vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.select_style,
.select_style:focus,
.select_style:focus-visible {
  width: 100%;
  border: 0;
  padding: 10px 12px;
  outline: none;
}
.input_style,
.input_style:focus,
.input_style:focus-visible {
  width: 100%;
  border: 0;
  padding: 10px 12px;
  outline: none;
}
.search_btn {
  width: 180px;
  border: 0;
  background-color: #1eb560;
  color: #fff;
  padding: 10px 10px;
  border-radius: 4px;
  font-weight: 600;
}
.pos_absolute {
  position: absolute;
  top: 30%;
  width: 99%;
}
.wdth_55 {
  width: 45%;
  margin: 0 auto;
  padding: 5px 5px;
  background-color: #fff;
  border-radius: 5px;
}
.flex_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.text_overlay {
  text-align: center;
}
.text_overlay h1 {
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  font-size: 45px;
  padding-bottom: 1rem;
}
.img_heading {
  padding-top: 0.5rem;
  /* padding-bottom: 0.5rem; */
}

.img_div img {
  width: 100%;
}

.img_plain_text {
  /* font-size: 20px; */
  /* margin: 0;
  padding-top: 0.5rem;
  font-weight: 400; */
  /* color: var(--text-light0-color); */
  color: gray;
  font-size: 14px;
  word-break: break-all;
}
.view_more_div {
  margin-top: 4rem;
  text-align: center;
}
.about_img_div {
  position: relative;
}

.about_img_div .over_lay_bg {
  width: 70%;
  text-align: center;
}
.about_img_div .play_img {
  width: 20px;
  padding-top: 45px;
}
.about_img_div .play_icon {
  background-color: #1eb56075;
  width: 125px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  left: 47%;
  opacity: 0.7;
}
.watch_now_text {
  padding-top: 65px;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 500;
}
/*About us*/

.google_img_div {
  width: 100%;
}

.google_overlay_img {
  background-image: url("../../../public/images/mob_bg.png");
  height: 45vh;
  background-repeat: round;
  background-size: cover;
}
.mob_pos {
  position: relative;
}

.google_pos_absolute {
  position: absolute;
  top: 30%;
  width: 99%;
}
.custom_margin {
  text-align: center;
  margin-top: -175px;
}
.google_text_overlay h1 {
  font-weight: 600;
  color: #fff;
  letter-spacing: 1px;
  font-size: 45px;
  padding-bottom: 1rem;
}

.google_description {
  font-weight: 400;
  color: #fff;
  line-height: 22px;
  font-size: 24px;
}
.no_record_dashboard {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

/* .footer_main {
  background-color: black;
  margin-top: 7rem;
  position: relative;
}
.footer_main .news_letter_div {
  position: absolute;
  width: 100%;
  top: -100px;
}
.main_input_div {
  background: #fff;
  padding: 5px 3px;
  border-radius: 6px;
  margin-top: 15px;
}
.wdth_60 {
  width: 60%;
  margin: 0 auto;
  background: #1eb560;
  padding: 60px 35px 40px 35px;
  border: 1px solid #1eb560;
  border-radius: 4px;
}
.footer_input,
.footer_input:focus-visible,
.footer_input:focus {
  width: 100%;
  border: 0;
  padding: 10px 12px;
  outline: none;
}
.subscribe_btn {
  background-color: black;
  border-radius: 5px;
  color: #fff;
  padding: 5px 20px;
  font-size: 13px;
}
.newsletter_text {
  font-weight: 500;
}
.display_input_button {
  display: flex;
  flex-direction: row;
}
.footer_text_container {
  padding-top: 10rem;
  padding-bottom: 3rem;
  margin: 0;
}

.copyright_div {
  border-top: 0.2px solid rgba(255, 255, 255, 0.63);
  width: 100%;
  padding: 15px 0px 1px;
  text-align: center;
}
.copyright_text {
  color: #fff;
}

.footer_text_color {
  color: #fff;
}
.img_div_icon {
  margin-right: 10px;
}
.img_div_icon_twitter {
  margin-right: 6px;
} */
