.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dot {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    margin: 0 5px;
    animation: bounce 1.5s infinite;
}

.dot1 {
    animation-delay: 0.1s;
}

.dot2 {
    animation-delay: 0.2s;
}

.dot3 {
    animation-delay: 0.3s;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}