.custom_padding {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.82rem;
}

.account_heading_border {
    border-bottom: 1px solid #757575;
    padding-bottom: 1rem;
}

.align_savebtn {
    text-align: right;
    border-bottom: 1px solid #757575;
}

.myaccount_btn {
    background-color: #1eb560;
    width: 120px;
    border-radius: 6px;
    padding: 7px 12px;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: 0;
    font-size: 14px;
    margin-bottom: 1.45rem;
}

.account_change_language {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.account_change_language p {
    color: #757575;
    font-weight: 600;
}

/* checkbox Section*/
.account_radio_section {
    padding: 0;
}

.account_radio_section .container_radio {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 55px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.account_radio_section .container_radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.account_radio_section .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.account_radio_section .container_radio:hover input~.checkmark {
    background-color: #ddd;
}

/* When the radio button is checked, add a blue background */
.account_radio_section .container_radio input:checked~.checkmark {
    background-color: #1eb560;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.account_radio_section .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.account_radio_section .container_radio input:checked~.checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.account_radio_section .container_radio .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

/* 
.account_radio_section .checkbox_class {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.account_radio_section .checkbox_hide_span {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}

.account_radio_section .checkbox_hide_span span {
    margin-left: 0;
    color: #757575;
    font-size: 14px;
}

.account_radio_section .checkbox_hide_bottom {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.account_radio_section .checkbox_hide_bottom span {
    margin-left: 0;
    color: #757575;
    font-size: 14px;
    padding-top: 1.2rem;
} */


/* Accordian Panel */
.accordion-item {
    border: none;
    margin-bottom: 0.51rem;
}

.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: var(--bs-accordion-btn-padding-y) var(--bs-accordion-btn-padding-x);
    font-size: 1rem;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: #deede5;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: var(--bs-accordion-transition);
}

.accordion-button:not(.collapsed) {
    color: #000;
    background-color: #deede5;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.myaccount_input,
.myaccount_input:focus,
.myaccount_input:focus-visible {
    width: 100%;
    border: 1px solid #1eb560;
    padding: 7px 12px;
    border-radius: 6px;
    margin-bottom: 0.5rem;
    outline: none;
}
.myaccount_loginsecurity{
    display: flex;
    flex-direction: row;
    background: #deede5;
    width: 100%;
    padding: 4px 3px;
    border-radius: 6px;
}
.accountpassupdate_input,
.accountpassupdate_input:focus,
.accountpassupdate_input:focus-visible {
  width: 84%;
  border: 0;
  padding: 10px 12px;
  outline: none;
  border-radius: 6px;
  background-color: transparent;
}
.updatepassbtn,
.updatepassbtn:hover,
.updatepassbtn:active,
.updatepassbtn:focus {
  width: 120px;
  outline: none;
  background-color: #1eb560;
  border-radius: 6px;
  border: none;
  color: #fff;
}