.main_container {
  background-color: rgba(226, 226, 226, 0.452);
}
.filer_bar_wrapper {
  padding: 14px 14px 0 14px;
}

.listing_wrappper {
  column-gap: 20px;
  background-color: white;
  border: 1px solid rgb(236, 236, 236);
  box-shadow: 1px;
  padding: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.title_text {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  margin-bottom: 4px;
}
.simple_text {
  color: rgba(128, 128, 128, 0.815);
}
.design_text {
  color: rgb(8, 146, 8);
}

.img_div img {
  width: 320px;
  height: 280px;
}
.single_property_wrapper {
  margin-left: 20px;
  padding-right: 20px;
}
.price_wrapper {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
  line-height: 30px;
}
.type_wrapper {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 4px;
}
.description_wrapper {
  margin: 40px 0px;
  color: rgba(128, 128, 128, 0.815);
}
.phone_wrapper {
  font-weight: 600;
  color: rgb(29, 204, 29);
  font-size: 18px;
}
.email_btn {
  width: 100%;
  background: #1eb560;
  color: #fff;
  font-weight: 500;
  outline: none;
  border: 0;
  padding: 4px 3px;
  border-radius: 5px;
}
